# Data Exploration and Cleanup

## Imports

In [1]:
# Initialize imports
import warnings
warnings.filterwarnings('ignore')
import requests
import pandas as pd
from pathlib import Path
import os
from forex_python.converter import CurrencyRates # New library: forex_python
c = CurrencyRates()
path = os.getcwd()
import matplotlib.pyplot as plt
import plotly.express as px
import hvplot.pandas
from dotenv import load_dotenv
import numpy as np
import panel as pn
from panel.interact import interact
from panel import widgets
import matplotlib.pyplot as plt
from MCForecastTools import MCSimulation
%matplotlib inline

ModuleNotFoundError: No module named 'forex_python'

In [ ]:
# Read Mapbox API key
pn.extension()
load_dotenv()
mapbox_token = os.getenv("MAPBOX_API_KEY")
px.set_mapbox_access_token (mapbox_token)

In [ ]:
# Set data path
wages_csv_path = Path("Resources/minimum_hourly_wage_worldwide.csv")
gold_csv_path = Path("Resources/gold_price.csv")
countries_csv_path = Path("Resources/countries_lat_lon.csv")

In [ ]:
# Read data into DataFrame
minimum_wage_df = pd.read_csv(wages_csv_path, 
                              index_col='Country'
                             )
gold_price_df = pd.read_csv(gold_csv_path, 
                            index_col='Date', 
                            parse_dates=True, 
                            infer_datetime_format=True
                           )
country_coordinates_df = pd.read_csv(countries_csv_path)

In [ ]:
# Backup copy for Monte Carlo Simulation
gold_df = gold_price_df.copy()

---

In [ ]:
# Show head minimum_wage_df
minimum_wage_df.head()

In [ ]:
# Show head gold_price_df
gold_price_df.head()

In [ ]:
# Show head country_coordinates_df
country_coordinates_df.head()

## Data Clean Up

### Minimum Wage DataFrame

In [ ]:
# Drop NaN values
minimum_wage_df.dropna(inplace=True)
minimum_wage_df.head()

In [ ]:
# Reset index to remove 'Country' index
minimum_wage_df.reset_index(inplace=True)
minimum_wage_df.head()

In [ ]:
# Drop 'Country' column
minimum_wage_df.drop(columns=['Country'], inplace=True)
minimum_wage_df.head()

In [ ]:
# Rename 'Unnamed' column to 'Year'
minimum_wage_df.rename(columns={'Unnamed: 0':'Year'}, inplace=True)
minimum_wage_df.head()

In [ ]:
# Set 'Year' as index
minimum_wage_df.index = minimum_wage_df.Year
minimum_wage_df.head()

In [ ]:
# Drop duplicate 'Year' column
minimum_wage_df.drop(columns=['Year'], inplace=True)
minimum_wage_df.head()

In [ ]:
# Set datetime index
minimum_wage_df.index = pd.to_datetime(minimum_wage_df.index)
minimum_wage_df.head()

In [ ]:
# Extract year from index
minimum_wage_df.index = minimum_wage_df.index.year
minimum_wage_df.head()

In [ ]:
# Replace ".." for Germany with its mean
minimum_wage_df['Germany'].replace('..', minimum_wage_df
                                   .loc[2015:2019, 'Germany']
                                   .astype(float)
                                   .mean(), 
                                   inplace=True
                                  )
minimum_wage_df.head()

In [ ]:
# Replace ".." for Japan with its mean
minimum_wage_df['Japan'].replace('..', minimum_wage_df
                                 .loc[2001:2018, 'Japan']
                                 .astype(float)
                                 .mean(), 
                                 inplace=True
                                )
minimum_wage_df.head()

In [ ]:
# Convert data type from string to float
for column in minimum_wage_df.columns:    
    minimum_wage_df[column] = minimum_wage_df[column].astype(float)
minimum_wage_df.head()

### Gold Price DataFrame

In [ ]:
# Drop unnecessary columns
gold_price_df.drop(columns=['Open', 'High', 'Low', 'Change %'], inplace=True)
gold_price_df.head()

In [ ]:
# Data conversion of Price from string to float
gold_price_df['Price'] = gold_price_df['Price'].str.replace(',', '')
gold_price_df['Price'] = gold_price_df['Price'].astype(float)
gold_price_df.dtypes

In [ ]:
gold_price_df.head()

### Monte Carlo Gold DataFrame

In [ ]:
# Slice data
gold_df = gold_df[['Open', 'High', 
                   'Low', 'Price', 
                   'Change %'
                  ]]
# Rename columns
gold_df.rename(columns = {'Open':'open', 
                          'High':'high', 
                          'Low':'low', 
                          'Price':'close', 
                          'Change %':'volume'
                         }, 
               inplace=True
              )
gold_df.head()

In [ ]:
# Convert data types to float
for columns in gold_df.columns:  
    if columns != 'volume':   
        gold_df[columns] = gold_df[columns].str.replace(',', '')
        gold_df[columns] = gold_df[columns].astype(float)
gold_df.head()

## Data Preparation

### Work Hours

In [ ]:
# Sort values by descending order for minimum wage DataFrame
minimum_wage_df.sort_values(by='Year', 
                            ascending=False, 
                            inplace=True
                           )
minimum_wage_df.sort_values(by=2019, 
                            axis=1, 
                            ascending=False,
                            inplace=True
                           )

In [ ]:
# Extract year from index
gold_price_year_df = gold_price_df.copy()
gold_price_year_df.index = gold_price_df.index.year
gold_price_year_df.head()

In [ ]:
# Get annual average gold price
avg_gold_price_df = gold_price_year_df.groupby('Date').mean()
avg_gold_price_df.head()

In [ ]:
# Calculating work hours for each country
work_hours = pd.concat([avg_gold_price_df, 
                        minimum_wage_df], 
                       axis=1
                      )
for Country in work_hours.columns:
    if Country != 'Price':
        work_hours[Country] = work_hours['Price'] / work_hours[Country]

work_hours.dropna(inplace=True)
work_hours.head()

### Gold DataFrame

In [ ]:
# Data Preparation for Monte Carlo Simulation
gold_df.columns = pd.MultiIndex.from_product([['GOLD'], 
                                              gold_df.columns]
                                            )
gold_df.head()

### Local Currencies

In [ ]:
# Create dictionary of currency codes by country
country_code = {"Australia":"AUD", "Belgium":"EUR", 
                "Canada":"CAD", "Czech Republic":"CZK", 
                "Estonia":"EUR", "France":"EUR", 
                "Germany":"EUR", "Greece":"EUR", 
                "Hungary":"HUF", "Ireland":"EUR", 
                "Israel":"ILS", "Japan":"JPY", 
                "Korea":"KRW", "Latvia":"EUR", 
                "Lithuania":"EUR", "Luxembourg":"EUR", 
                "Mexico":"MXN", "Netherlands":"EUR", 
                "New Zealand":"NZD", "Poland":"PLN", 
                "Portugal":"EUR", "Slovak Republic":"EUR", 
                "Slovenia":"EUR", "Spain":"EUR", 
                "Turkey":"TRY", "United Kingdom":"GBP", 
                "Brazil":"BRL"
               }

In [ ]:
# Backup copy for CurrencyRates
local_currencies = minimum_wage_df.copy()

In [ ]:
for country, currency in country_code.items():    
    local_currencies[country] = c.convert('USD', currency, local_currencies[country])
local_currencies.head()

In [ ]:
local_currencies["Russian Federation"] = local_currencies["Russian Federation"] * 76.6265
local_currencies.tail()

In [ ]:
local_currencies["Chile"] = local_currencies["Chile"] * 766.407
local_currencies.head()

In [ ]:
local_currencies["Colombia"] = local_currencies["Colombia"] * 3634.58
local_currencies.head()

In [ ]:
local_currencies["Costa Rica"] = local_currencies["Costa Rica"] * 612.927
local_currencies.head()

## Visualizations

### Monte Carlo Simulation

In [ ]:
# Monte Carlo Gold Simulation 
num_sims = 500
MC_GOLD = MCSimulation(portfolio_data = gold_df, 
                       num_simulation = num_sims, 
                       weights = [1], 
                       num_trading_days = 252 * 5
                      )
MC_GOLD.calc_cumulative_return()
line_plot = MC_GOLD.plot_simulation()
tbl = MC_GOLD.summarize_cumulative_return()

# Print summary statistics
print(tbl)

# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $10,000 investments in AAPL stocks
ci_lower = round(tbl[8]*1500, 2)
ci_upper = round(tbl[9]*1500, 2)

# Print results
print(f"There is a 95% chance that an initial investment of $1,500 in Gold"
      f" over the next 5 years will end within in the range of"
      f" ${ci_lower} and ${ci_upper}.")

In [ ]:
# Monte Carlo Gold frequency distribution
mc_distribution = MC_GOLD.plot_distribution()
mc_distribution.get_figure().savefig('MC_fiveyear_dist_plot.png', bbox_inches = 'tight')

### Minimum Hourly Wage

In [ ]:
# Bar plot of minimum hourly wage around the world from 2001 to 2019
def minimum_hourly_wage_by_year(year):
    s_title = 'Minimum Hourly Wage Around the World for '+str(year);
    return minimum_wage_df.loc[year,:].hvplot.bar(height=350, 
                                                  width=700, 
                                                  title=s_title, 
                                                  xlabel='Country', 
                                                  ylabel='Minimum Hourly Wage in USD', 
                                                  rot=90
                                                 )
interact(minimum_hourly_wage_by_year, 
         year=minimum_wage_df.index.values.tolist()
        )

In [ ]:
# Line plot of minimum hourly wage for each country from 2001 to 2019
minimum_wage_df.hvplot(height=300, 
                       width=600, 
                       xlabel='Year', 
                       ylabel='Minimum Hourly Wage in USD', 
                       title='Minimum Hourly Wage from 2001 to 2019'
                      )

### Daily Gold Price

In [ ]:
# Line plot of daily gold price from 2000 to 2019
gold_price_df.hvplot(title='GOLD Price from 2000 to 2019', 
                     xlabel='Years', 
                     ylabel='Price in USD'
                    )

### Top 5 Countries

In [ ]:
# Parallel plot of top 5 countries with highest minimum wage in USD
highest_minimum_wage_parallel = minimum_wage_df.iloc[0:, 0:5]
highest_minimum_wage_parallel.reset_index(inplace=True);
px.parallel_coordinates(highest_minimum_wage_parallel, 
                        color = 'Year', 
                        title = 'Top 5 countries with highest minimum wage'
                       )

### Buying Power

In [ ]:
# Scatter mapbox of number of hours needed to purchase 1 troy oz of gold in 2019
work_hours_mapbox = pd.DataFrame((work_hours
                                 .drop(columns=['Price'])
                                 .loc[2019, :])
                                 .reset_index()
                                 .rename(columns={'index':'Country', 
                                                  2019:'work_hours'})
                                )
work_hours_mapbox_merged = pd.merge(country_coordinates_df, 
                                    work_hours_mapbox)
s_title = "Number of Hours to Purchase 1 oz of Gold in 2019";
fig = px.scatter_mapbox(work_hours_mapbox_merged, 
                        lat = 'Lat', 
                        lon = 'Long', 
                        color ='Country', 
                        title = s_title, 
                        size = 'work_hours',
                        size_max = 10, 
                        height = 760, 
                        zoom = 1, 
                        range_color = (100, 1200)
                       )
fig.update_layout(mapbox_style = 'light', 
                  mapbox_accesstoken = mapbox_token)

In [ ]:
# Line plot of number of hours needed to purchase 1 troy oz of gold from 2001 to 2019
work_hours.hvplot(title='Number of Hours to Purchase 1 oz of Gold', 
                  xlabel='Year', 
                  ylabel='Hours'
                 )

### Minimum Hourly Wage in Local Currencies

In [ ]:
# Line plot of minimum hourly wage in local currency by country
def local_currencies_country(country):
    s_title = 'Minimum Hourly Wage for '+str(country);
    return local_currencies.loc[:, country].hvplot(height=350, 
                                                   width=700, 
                                                   title=s_title, 
                                                   xlabel='Country', 
                                                   ylabel='Minimum Hourly Wage', 
                                                   rot=90
                                                  )
interact(local_currencies_country, 
         country=local_currencies.columns
        )